<title>Top selling Article this Month</title>
<main style="padding-top: 90px;">

    <div class="card border-0 mb-3">
        <div class="row g-0">
            <div class="col-12 col-md-6 col-lg-5  offset-0 offset-sm-2 offset-md-0 offset-lg-1">
                <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
                    <div style="justify-content: center;" class="carousel-inner  ms-5">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img class="pics" src="~/images/top-selling-this-month-11.webp" class="d-block " height="auto" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="pics" src="~/images/top-selling-this-month-12.webp" class="d-block " height="470px" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="pics" src="~/images/top-selling-this-month-13.webp" height="auto" class="d-block " alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img class="pics" src="~/images/top-selling-this-month-14.webp" height="auto" class="d-block " alt="...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4  ps-5 my-2  offset-0 offset-sm-2 offset-md-0">
                <div class="card-body">
                    <h1 class="product_title entry-title" style="font-weight:bold; font-size: 20px">
                        Pleated Top
                    </h1>
                    <p class="text-body-tertiary">FWTTB23-058</p>
                    <br>
                    <del>Rs. 5,991.00</del><span class="text-danger"> Rs.3,595.00</span>
                    <br>
                    <br>

                    <form action="www.signup.com">
                        <fieldset style="color: black;">
                            <h4>Size</h4>
                            <input type="radio" id="xs" name="size">
                            <label for="xs" style="width: 40px;">XS </label>
                            <input type="radio" id="s" name="size">
                            <label for="s" style="width: 40px;">S </label>
                            <input type="radio" id="m" name="size">
                            <label for="m" style="width: 40px;">M </label>
                            <input type="radio" id="l" name="size">
                            <label for="l" style="width: 40px;">L </label>
                            <br>
                        </fieldset>
                    </form>
                    <br>
                    <button style="border: 1px solid black; width:300px" type="button" class="btn btn-outline-dark">Add to Cart</button>
                    <br>
                    <button style=" margin-top:7px;margin-bottom: 10px; width:300px" type="button" class="btn btn-dark ">Buy Now</button>
                    <br>

                    <br>
                    <p class="text-body-tertiary">Availbility: <span class="text-black">In Stock</span></p>

                </div>
            </div>
        </div>
        <div class=" Features px-5 mt-5">
            <h2><strong>COMPOSITION & CARE</strong></h2>
            <ul>
                <li class="text-body-tertiary">100% COTTON</li>
                <li class="text-body-tertiary">DO NOT IRON TRIM </li>
                <li class="text-body-tertiary">
                    DO NOT USE FABRIC<br>
                </li>
                <li class="text-body-tertiary">
                    SOFTENER <br>
                </li>
                <li class="text-body-tertiary">WASH AS COTTON</li>
                <li class="text-body-tertiary">
                    <span class="text-body-tertiary">WASH LIKE COLORS TOGETHER</span>
                </li>
                <li class="text-body-tertiary">IRON ON THE REVERSE SIDE</li>
                <li class="text-body-tertiary">WASH INSIDE OUT</li>
                <li class="text-body-tertiary">
                    TUMBLE DRY LOW<br>
                </li>
                </ol>
            </ul>
        </div>
</main>