@model List<The_Outfit.Models.Article>
<title>Home</title>
<div id="searchResults" style="padding-top: 80px;">


<main>


    <div class="ms-5 mb-5 pics">
        <video data-autoplay="" data-keepplaying="" width="97%" height="auto" muted="" autoplay="" playsinline="" loop="">
            <source data-des-src="https://cdn.shopify.com/videos/c/o/v/3cf06c1a9bcb438e902761178a54393a.mp4"
                    data-mb-src="https://cdn.shopify.com/videos/c/o/v/3cf06c1a9bcb438e902761178a54393a.mp4" src="~/images/cover.mp4"
                    type="video/mp4">
        </video>
    </div>

    <div class="mx-5 my-5">
        <!-- <div class="carousel-item active" data-bs-interval="1000"> -->
        <a href="/Sale/Index">
        <img class="pics" src="~/images/1.webp" width="49%" height="auto" class="d-block w-100" alt="...">
        <img class="pics" src="~/images/2.webp" width="49%" height="auto" class="d-block w-100" alt="...">

        </a>
        <!-- </div> -->
    </div>


    <div style="font-size: 40px; font-weight: bolder;" class="text-center mt-5">Top Selling articles in this Month</div>
    <div class="text-body-tertiary text-center fs-4">Mens and Womens</div>



    
    <div class="container d-flex justify-content-center">
        <div class="row gy-2 mt-5 d-flex justify-content-center ">
            @foreach (var a in Model)
            {
                var discountedPrice = a.Price - 1000;

                string[] images = a.Images.Split(new char[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                string firstImagePath = images.FirstOrDefault();
                <div class="col-4 col-sm-3 col-md-2 ">
                    <a asp-action="SpecificArticle" asp-route-id="@a.id">
                        <div class="card border-0">

                            <img src="@Url.Content(firstImagePath)" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text fs-4 text-body-tertiary">The Outfit
                                <p class="fw-bold">@a.Name</p>
                                <span>
                                    <del class="text-danger me-2"> Rs. @a.Price</del>

                                </span>
                                <span>
                                    Rs. @discountedPrice
                                </span></p>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>

    </div>
    

</main>
</div>