<title>Men</title>
<main style="padding-top: 80px;">


    <div class="text-center mt-5 pt-5">
        <h3 class="fw-bold ">Men</h3>
    </div>



    <div class="container">
        <div class="row gy-2 mt-5 ">
            <div class="col-sm-3 ">
                <a href="/Articles/Men_Article1">
                    <div class="card border-0">
                        <img src="~/images/m11.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fs-4 text-body-tertiary">The Outfit
                            <p class="fw-bold">Pleated Top</p>
                            <span>
                                Rs.3,595.00
                            </span></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="top-selling-this-month-4.html">
                    <div class="card border-0">
                        <img src="~/images/top-selling-this-month-41.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fs-4 text-body-tertiary">
                                The Outfit
                                <h5 class="fw-bold">Classic Denim</h5><span> Rs.3,493.00</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="top-selling-this-month-5.html">
                    <div class="card border-0">
                        <img src="~/images/top-selling-this-month-51.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fs-4 text-body-tertiary">
                                The Outfit
                                <h5 class="fw-bold">Printed T-Shirt</h5><span> Rs.1,749.00</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="top-selling-this-month-6.html">
                    <div class="card border-0">
                        <img src="~/images/top-selling-this-month-31.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fs-4 text-body-tertiary">
                                The Outfit
                                <h5 class="fw-bold">Regular Fit Half Sleeves Shirt</h5><span> Rs.3,099.00</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    

</main>