@page
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@model ConfirmEmailModel
@{
    Layout = null;
    ViewData["Title"] = "Confirm email";
}

<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
