@model List<The_Outfit.Models.Article>
<title>Women</title>

<div id="searchResults" style="padding-top: 80px;">

<main >


    <div class="text-center mt-5 pt-5">
        <h3 class="fw-bold ">Women</h3>
    </div>

<partial name="_PartialArticleView" model="Model" />


</main>
</div>








